{% extends "layout.html" %}

{% block heading %}
  Enter Item
{% endblock %}

{% block body %}
  <form action = "{{ url_for ('details')}}", method = "post">
    <p> Enter Name: </p>
    <input type = "text" name = "item_name" placeholder = "Enter name of the item">
    <p> Enter profit earned per unit sold: </p>
    <input type = "text" name = "price" placeholder = "Enter profit earned per unit sold">
    <p> Enter Name: </p>
    <input type = "text" name = "quantity" placeholder = "Enter name of the item">
    <p> Enter profit earned per unit sold: </p>
    <input type = "text" name = "month" placeholder = "Enter profit earned per unit sold">
    <button> Next </button>
  </button>
{% endblock %}
